$dark: #040c1f;
$violet: #0075fb;
$black: #040c1f;

* {
  box-sizing: border-box;
}

html,body {
  overflow-x: hidden;
}

.error {
  outline: 2px solid red;
}

.button {
  border: none;
  border-radius: 7px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;

  &_light {
    background-color: #fff;
  }

  &_dark {
    background-color: $violet;
    color: #fff;
  }

  &_black {
    background-color: $black;
    color: #fff;
  }
}

.input {
  border: 1px solid #dcdcdc ;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 16px;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

.logo {
  max-width: 250px;
}

.header {
  background: $dark center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero-bgimage.jpg");
  padding: 20px 0 100px;
  color: #ffffff;

  &__top {
    margin-bottom: 90px;
  }

  &-phones {
    text-align: right;

    &__number {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      /*Experiment*/
      margin-left: 60px;
    }
  }

  &__description {
    font-size: 30px;
    margin-bottom: 60px;
  }

  &__triggers {
    margin-bottom: 60px;
  }
}

.section {
  padding: 90px 0px;

  &_dark {
    background-color: $dark;
    color: #fff;
  }

  &-title {
    font-size: 30px;

    &_dark {
      font-size: 30px;
      line-height: 1.4;
    }
  }

  &__title {
    margin-bottom: 100px;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__form {
    margin-bottom: 70px;
  }
}

.product {
  &-card {
    text-align: center;
    padding: 30px;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.19);
    border-radius: 7px;

    &__title {
      font-size: 24px;
    }

    &__text {
      margin-bottom: 20px;
      min-height: 60px;
    }

    &__price {
      display: block;
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__button {
      display: block;
      width: 100%;
    }
  }

  &__card {
    margin-bottom: 34px;
  }
}

.help {
  background: $dark url("../img/form.png") no-repeat center right 15% / 400px;
}

.form {
  &__input {
    vertical-align: middle;
    margin-right: 15px;
  }
  &__button {
    vertical-align: middle;
  }

}

.policy-link {
  color: #fff;
}

.extra {
  background: url("../img/Extra-bg.jpg") no-repeat left top;
  &-card {
    &s {
      display: flex;
      justify-content: space-between;
    }
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 25px;
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    background-color: #fff;
    &__title {
      font-size: 24px;
      margin-top: 0px;
    }
    &__text {
      min-height: 65px;
    }
    &__price {
      font-size: 24px;
      color: $violet;
      margin-bottom: 20px;
    }
  }
}

.reason {
  &s {
    background: url("../img/Reasons-bg.jpg") no-repeat right bottom;
  }
  &__title {
    &:before {
      content: '';
      display: inline-block;
      vertical-align: bottom;
      margin-right: 10px;
      width: 25px;
      height: 25px;
      background: url(../img/Check.png) center / 100%;
    }
  }
}

.tinkoff {
  background: $dark url(../img/tinkoff.png) no-repeat center right 15% / 600px;
}

.contacts {
  position: relative;
  &__title {
    font-size: 24px;
    margin-top: 40px;
  }
  &__address {
    font-style: normal;
  }
  &__text {
    font-size: 14px;
    margin-bottom: 40px;
  }
  &__phone {
    display: block;
    text-decoration: none;
    color: $dark;
    line-height: 1.5;
  }
}

.map {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 99%;
  margin-bottom: 10px;
}

.footer {
  background: $dark;
  padding: 50px 0px;
  &__policy-link {
    text-align: right;
    display: block;
    color: rgb(231, 231, 231);
  }
}

.social-links {
  display: flex;
  flex-basis: 33%;
  justify-content: space-evenly;
    &__item {
      max-width: 50px;
      display: inline-block;
      margin-right: 20px;
    }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($dark, 0.5);
  display: none;
  &_visible {
    display: flex;
  }
  &-dialog {
    position: relative;
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 450px;
    min-height: 300px;
    padding: 40px 65px;
  }
  &-header {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }
  &-close {
    position: absolute;
    right: 5px;
    top:5px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: 700;
  }
  &-form {
    text-align: center;
    &__input {
      margin-bottom: 15px;
      width: 100%;
    }
    &__button {
      width: 100%;
    }
    &__description {
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 40px;
    }
  }
}

@import "_media";
